/*@font-face {
	font-family: 'Raleway';
	src: url('./indexRaleway-Black.ttf') format('ttf');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}*/
*{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding:0;
    text-decoration: none;
    border:none;
    font-family: 'Raleway';
    font-style: normal;
}
body{
    margin:0 auto;
    max-width: 1440px;
}
    /* police */
article h4,#activite h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.seemore,footer h6,form input{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.policeW700{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    }
.filtre ul,.filtre h1{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
.policeW400{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    }
.policeW500{
        font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    }
.euro{
    font-weight: 600;
    font-size: 14px;
}
     /* border radius */
article, #hebergement section, #hebergement section:nth-child(1) article,.secPopular artic{
    border-radius: 20px;
}
  /* box-shadow */
article{
    box-shadow : 0px 0px 8px -3px;
}
   /* flex */
.flex{
    display: flex;
}
.flex-r{
    flex-direction: row;
}
.flex-c{
    flex-direction: column;
}
            /* star */
 
 #hebergement section ul li:not(:last-child) i{
    display: inline-block;
    width:12px;
    height: 12px;
    color:#0065FC;
    margin-right: 5px;
 }
          /* white star */
article ul li:last-child i{
    color:#D9D9D9 !important;
}
       /* margin side page  */
main,header,footer{
    width:92%;
    margin:0 auto;
}

        /*img*/
img{
            object-fit: cover;
        }
             /* Header */
header{
    padding-top:0px;;
}

nav{
    justify-content: space-between;
    margin-bottom: 20px;
}
nav div{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;   
    width:381px;
    height: 59px;
   
}
.booki{
    height: 19px;
    padding-top: 40px;

}

nav div span{
    display:inline-block;
    width: 49%;
    padding-top: 45px;
    text-align: center;
}
nav div span:hover{
    border-top:2px solid #0065FC ;
}
nav div a{
    color: black;

}
nav div div{
    position: relative;
}

.searchHome{
    margin: 20px 0 20px 0;
}
.searchHome p{
    margin-bottom: 10px;
}
       /* search bar */

.search{
    justify-content: flex-start;
    align-items: center;
}

.search div:nth-child(1){
    height: 48px;
    width: 49px;
    border-radius:15px 0px 0px 15px; 
    border: 2px solid #F2F2F2;
    background: #F2F2F2;
    justify-content: center;
    align-items: center;
}
.search div:nth-child(1) i{
    width: 18px;
    height: 18px;
}
.search div:nth-child(2) input::placeholder{
    color:black;
    
}
.search div:nth-child(2) input{
    width: 280px;
    height: 48px; 
    padding-left:20px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
}

.search div:nth-child(3) input{
    height: 50px; 
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: #F2F2F2;
    font-size: 18px;
    width: 132px;
}

   /* Filtre */

.filtre{
    justify-content:flex-start;
    margin: 20px 0 20px 0;
}
.filtre h1{
    margin-top: 10px;
    margin-right:12px
}
.filtre ul{
    justify-content: space-around;
}
.filtre ul li{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 1% 15px 1% 15px;
    margin:0 12px 0 12px 
}
.filtre ul li:hover{
    background-color:#DEEBFF ;
}

.filtre ul li i{
    margin-right:6px;
    color:#0065FC
}
.info{
    margin-bottom: 20px;
    align-items: baseline;
}
.info span{
   color:blue;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border:  1px solid #D9D9D9;
    font-size: 10px;
    line-height: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* Main Hebergement */

 #hebergement{
    justify-content: space-between;   
    height: 626px;
 }
 #hebergement section article a,#activite div  a{
    color:black;
    display:contents;
 }
 #hebergement section{
    background-color: #F2F2F2;
    padding-top:44px;
    color:black

 }
 #hebergement section:nth-child(1){
    width:63%;
    padding: 40px 40px 0 40px;
 }
 .seemore{
    margin-top:30px;
 }
 #hebergement section:nth-child(1) h3 , #hebergement section:nth-child(2) h3,.seemore{
    margin-bottom: 23px;  
 }
 
 #hebergement section:nth-child(1) article{
    width: 28%;
    height: 193px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    margin-bottom: 30px;
    
 }
 .describMarseille{
    justify-content: space-between;
    flex-wrap: wrap;
 }
 #hebergement section:nth-child(1) article div{
    margin: 5px 0 0 14px;
    height: 35%;
 }
 .marseilleHome ul{
    position: relative;
    top: 5px;
 }
 #hebergement section:nth-child(1) img{
    max-height:60%;
    width:100%;
    border-radius: 20px 20px 0 0;
 }
 .marseilleHome .policeW400{
        margin-top: 5px;
 }
       /* Hebergement Populaire */
.popular{
    justify-content: space-between;
}
.popular i{
    color: #0065FC;
}
#hebergement section:nth-child(2) ul{
    position: relative;
    top: 78px;
    margin-left: 20px;
}
.secPopular p{
    margin-top: 5px;
}
 #hebergement section:nth-child(2){
    width:24%;
    padding:40px 2% 0 2% ;
    background-color:#F2F2F2;
 }
 
 .contentPopular{
    justify-content: space-between;
    height: 520px;
    width: 100%; 
 }
 .secPopular article div div{
    height: 20%;
    margin: 10px 0 0 20px;
 }

 
 .secPopular article{  
    height: 144px;
    background: #FFFFFF;
    border: 0.2em solid #FFFFFF;
 }
#hebergement section:nth-child(2) img{
    width:40%;
    border-radius: 20px 0 0 20px ;
}

/* activité */
#activite{
    margin-top: 60px;
}
#activite div{
    justify-content: space-between;
}

#activite div article {
    width: 21%;
    height:444px;
    box-shadow: 0px 0px 8px -3px black;
}

#activite div article img{
    width: 100%;
    height: 90%;
    border-radius:20px 20px 0 0  ;

}
#activite h5{
    margin-bottom:20px;
}
#activite h5 br{display: none;}
#activite div article h6{
    font-style:normal;
    margin: 10px 0 0 10px
    
}
 main{
    padding-bottom: 60px;
 }
/* footer */

footer{
    height:180px;
    justify-content: flex-start;
    padding-top: 45px;
    padding-left:40px;
    background-color: #F2F2F2;
    
}
footer h6{ 
    margin-bottom: 10px;
}
footer div:nth-child(2){
    margin: 0 15% 0 15%;
}
a:hover{
    color: #0065FC;
}

      /* hidden content */
.submitPhoneSize{display:none;}
  /* responsove Tablette */
@media  (max-width: 992px) {
    #hebergement{
        flex-direction: column ;
        justify-content: space-between;
        height: 957px;
       
        
    }
    #hebergement section:nth-child(1){
        height: 626px;
        width: 100%;
        max-width: fit-content;
    }
    #hebergement section:nth-child(2){
        height: 240px; 
        width: 100%;
        max-width: fit-content;
        
    }
    #hebergement section:nth-child(2) div:nth-child(2) {
        flex-direction: row ;
        justify-content: space-between;
        height: 144px;
        width:96%;
    }
    #hebergement section:nth-child(2) article{
        width: 32%;
    }
}
@media (max-width:768px) {
    main{width:100%}
            /* header */
    header{
                width: 100%;
            }
    .filtre h1, header p {
        margin-left: 20px;
    }
    .filtre h1{
        margin-bottom: 15px;
    }
                /* nav */
    nav{
        flex-direction: column !important;
    }
    nav img{
        margin: 0 auto;
        padding: 20px 0 20px 0;
    }
    nav div{
        width: 100%;
        height:fit-content;
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
    }
    nav div a{     
        text-align: center;
        width: 100%;        
    }
    nav div span {
        padding:0 0 20px 0;
        border-bottom:2px solid lightgrey;
        width: 50%;
      
    }
    nav div span:hover{
        border-bottom-color: #0065FC;
        border-top-color: transparent;
    }
            /* form search bar */
    header form{
                width: 89%;
                margin: 0 auto;
            }
    header form div:nth-child(3){
        display: none;
        width: 0;
    }
    header form div:nth-child(2){
        width: 100%;
    }
    header form div:nth-child(2) input{
        width:100% !important;
        border-top:3px solid #F2F2F2 !important;
        border-bottom: 3px #F2F2F2 solid !important;
        height: 46px !important;
    }
    .fa-magnifying-glass{
        position:absolute;
    }
    .submitPhoneSize input[type='submit']{
        width: 10px;
        background-color: #0065FC !important;
        color:transparent
    }
    .submitPhoneSize{
        display:block;
        height: 50px;
        border-radius: 0 15px 15px 0;
        background-color: #0065FC;
        color: #F2F2F2;
        font-size: 22px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    
      /* Filtre */
      .filtre{
        flex-direction: column !important;
      }
      .filtre  ul{
        justify-content: space-around;
        flex-wrap: wrap;
        font-weight: 700;
        font-size: 11px;
        line-height: 12.91px;
      }
      .filtre ul li{
        display: flex;
        align-items: center;
        width: 41%;
       padding:12px 0 12px 12px;
        border-radius: 25px;
        margin-top: 15px;
        margin: 0 0 15px 0;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
      }
      .filtre ul li i{
        font-size: 22px;
        line-height: 22px;
      }
       /* hebergement */

       #hebergement{
        height: 2200px !important;
        flex-direction: column-reverse;
        
       }
       /* popular */
       .secPopular{
        height: 580px !important;
        width: 96% !important;
        padding: 40px 2% 0 2% !important;
       max-width: none !important;
       border-radius: 0 !important;
       }
      .secPopular div:nth-child(2){
        flex-direction: column !important;
        width:100% !important
      }

      .secPopular div:nth-child(2) article{
        width: 98% !important;
        margin-bottom: 15px;
      }

       /* hebergement marseille */
       #hebergement section:nth-child(1){
        width:100% ;
        height: 1478px;
        background-color: #FFFFFF;
        padding:20px 21px 0 21px;
       }
      #hebergement section:nth-child(1) article{
        width: 100%;
        box-shadow: 1px 1px 8px -3px;
      }
      .seemore{
        display: none;
      }

         /* activite */
         #activite{
            height: 920px;
            padding:0 3% 0 3%;
         }
         #activite div{
            flex-direction: column;
         }
         #activite div article{
            width: 98%;
            height: 200px;
            padding: 5px 1% 5px 1%;
            margin-bottom: 20px;
         }
         #activite div article i{
            margin: 5px 0 0 5px;
         }
         #activite div article img{
            height: 80%;
         }
         #activite h5 br{display: block;}
      /* footer */

      footer{
        flex-direction: column !important ;
        height: 350px;
        width: 100%;
        padding-left: 0;
      }
      footer div:nth-child(2){
        margin: 25px 0 25px 20px;
      }
      footer div{
        margin-left: 20px;
      }
       /* hidden content */

       .blueRectangle{
            display: none;
       }
       .fa-chart-line{
        display:none;
       }
}